<% if (currentUser) { %>
  <h2> Hello, <%= currentUser.fullName %>! </h2>
<% } %>



<p>Welcome to <%= title %></p>



<% if (currentUser) { %>
  <p> Did you know you have had your account since, <%= currentUser.createdAt %>! </p>
<% } else { %>
  <p> You should <a href="/signup"> sign up </a> TODAY! </p>
<% } %>


<select multiple id='testbox'>
  <option value='1'>First Option</option>
  <option value='2'>Second Option</option>
  <option value='3'>Third Option</option>
  <option value='4'>Fourth Option</option>
  <option value='5'>Fifth Option</option>
  <option value='6'>Sixth Option</option>
  <option value='7'>Seventh Option</option>
  <option value='8'>Eighth Option</option>
  <option value='9'>Ninth Option</option>
  <option value='10'>Tenth Option</option>
</select>
