<h2> Edit Your Profile </h2>

<p>
  Your email is <b> <%= currentUser.email %> </b>
</p>

<p>
  <small> (For "security reasons" we don't allow changing emails.)</small>
</p>


<form id="form" action="" method="">
  <label for="full-name-input"> Full Name </label>
  <input type="text" id="full-name-input" name="editFullName" value="<%= currentUser.fullName %>" placeholder="e.g. Khal Drogo" />

  <button> Save Changes</button>
</form>
